.button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    color: #f8f6f8;

    font-size: 16px;

    font-weight: 400;

    text-transform: uppercase;

    padding: 10px 32px;
    border-radius: 4px;
    background: #171417;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.5;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
