/** VARIABLES **/

/** Break-points **/

$xlarge: 1280px;
$large: 992px;
$medium: 768px;
$small: 576px;

/** Colors **/

$white: #fff;

$black: #000;

$violet: #5c0f9f;
$light-pink: #f966c1;
$pink: #ff0fca;
$blue: #4646ad;
$light-purple: #9278fb;

$silver: #c2c2c6;

/** MIXINS **/

@mixin media($screensize) {
    @if ($screensize == xlarge) {
        @media (max-width: $xlarge) {
            @content;
        }
    } @else if ($screensize == large) {
        @media (max-width: $large) {
            @content;
        }
    } @else if ($screensize == medium) {
        @media (max-width: $medium) {
            @content;
        }
    } @else if ($screensize == small) {
        @media (max-width: $small) {
            @content;
        }
    }
}
