@use "reset" as *;

body {
  background-color: $white;
  font-family: "Outline", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}
