.footer {
    background-color: $black;

    .footerWrapper {
        margin: 32px 0px;
        display: flex;
        flex-direction: column;

        .iconArea {
            display: flex;
            gap: 16px;
            margin-left: auto;

            svg {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .poweredBy {
            margin-top: 32px;
            display: flex;
            align-items: center;
            gap: 32px;

            .companyArea {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    color: $white;

                    font-size: 16px;

                    font-weight: 400;
                }

                .companyLogos {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $white;
            margin-top: 64px;

            .copyright {
                font-size: 18px;

                font-weight: 400;
            }
            nav {
                display: flex;
                align-items: center;
                gap: 24px;
                font-size: 18px;
            }
        }
    }
}

@include media(large) {
    .footer {
        .footerWrapper {
            align-items: center;

            .iconArea {
                margin-left: 0;
                align-items: center;
                svg {
                    width: 34px;
                    height: 34px;
                }
            }

            .poweredBy {
                .companyArea {
                    p {
                        font-size: 18px;
                    }
                }
            }

            .info {
                flex-direction: column;
                gap: 16px;
                margin-top: 48px;
            }
        }
    }
}

@include media(small) {
    .footer {
        .footerWrapper {
            .poweredBy {
                flex-direction: column;
                gap: 22px;

                .companyArea {
                    align-items: center;
                    gap: 12px;
                }
            }

            .info {
                flex-direction: column;

                .copyright {
                    font-size: 16px;
                    text-align: center;
                }
                nav {
                    font-size: 16px;
                }
            }
        }
    }
}
